*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
.env

.coverage*
.coverage.*
htmlcov

# Visual Studio Code
.vscode/

# IntelliJ IDEA/PyCharm
.idea/

# Misc
.DS_Store

.mypy_cache